:root {
  --player-x: 0px;
  --player-y: 0px;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000; /* fallback */
}

#renderer {
  display: block;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centre le canvas */
}

#player-sprite {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url('/sprites/images/owlet/walk6.png');
  background-size: 192px 32px;
  background-position: 0 0;
  left: var(--player-x);
  top: var(--player-y);
  z-index: 400;
  transform: translate(-12px, -23px) scale(1.3);
}